<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Portafolio  </title>
  <link rel="stylesheet" href="../static/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  
</head>
<body>
  <!-- Navegación -->
<header class="navbar">
  <div class="navbar-center">
    <div class="logo"><i class="fa-solid fa-check"></i></div>
    <nav class="menu">
      <a href="#inicio" class="active">Inicio</a>
      <a href="#competencias">Competencias</a>
      <a href="#experiencia">Experiencia</a>
      <!--<a href="#portafolio">Portafolio</a>-->
      <a href="#contacto">Contacto</a>
    </nav>
    <button class="menu-toggle" aria-label="Abrir menú">
      <i class="fas fa-bars"></i>
    </button>
  </div>
</header>

  <!-- Sección principal -->
<section class="hero" id="inicio">
  <div class="left">
    <h1>
      SOY<br />
      LUIS<span class="dot">.</span>
    </h1>
    <p class="subtitle">
      INGENIERO DE SISTEMAS <br />
      Universidad Nacional Micaela Batisda de Apurimac
    </p>
    <div class="social">
      <!--<a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>-->
      <a href="https://x.com/LoayzaNarvaez" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/luis-loayza-4b79a6276/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://github.com/skyps2003" target="_blank"><i class="fab fa-github"></i></a>
    </div>
  </div>
  <div class="right">
  </div>
</section>
  <!-- Competencias -->
   <section class="section dark" id="competencias">
  <h2 class="competencias-title">Competencias</h2>
  <div class="skills-languages-wrapper">
    <!-- Skills -->
    <div class="skills-block">
      <h3 class="block-title"><i class="fas fa-laptop-code"></i> Skills Técnicos</h3>
      <div class="skills-grid">
        <div class="skill-card">
          <div class="skill-header">
            <span class="skill-title"><i class="fab fa-html5"></i> HTML / CSS</span>
            <span class="skill-percent" data-percent="90">90%</span>
          </div>
          <div class="skill-bar-bg">
            <div class="skill-bar" data-percent="90"></div>
          </div>
        </div>
        <div class="skill-card">
          <div class="skill-header">
            <span class="skill-title"><i class="fab fa-js-square"></i> JavaScript</span>
            <span class="skill-percent" data-percent="80">80%</span>
          </div>
          <div class="skill-bar-bg">
            <div class="skill-bar" data-percent="80"></div>
          </div>
        </div>
        <div class="skill-card">
          <div class="skill-header">
            <span class="skill-title"><i class="fas fa-pencil-ruler"></i> MySQL</span>
            <span class="skill-percent" data-percent="40">40%</span>
          </div>
          <div class="skill-bar-bg">
            <div class="skill-bar" data-percent="40"></div>
          </div>
        </div>
        <!--<div class="skill-card">
          <div class="skill-header">
            <span class="skill-title"><i class="fas fa-database"></i> PHP / MySQL</span>
            <span class="skill-percent" data-percent="75">75%</span>
          </div>
          <div class="skill-bar-bg">
            <div class="skill-bar" data-percent="75"></div>
          </div>
        </div>-->
      </div>
    </div>
    <!-- Idiomas -->
    <div class="skills-block">

      <h3 class="block-title"><i class="fas fa-language"></i> Idiomas</h3>
      <div class="skills-grid">
        <div class="skill-card">
          <div class="skill-header">
            <span class="skill-title"><i class="fas fa-flag"></i> Español </span>
            <span class="skill-level avanzado">Avanzado</span>
            <span class="skill-percent" data-percent="100">100%</span>
          </div>
          <div class="skill-bar-bg">
            <div class="skill-bar" data-percent="100"></div>
          </div>
        </div>
        <div class="skill-card">
          <div class="skill-header">
            <span class="skill-title"><i class="fas fa-flag-usa"></i> Inglés</span>
            <span class="skill-level Intermedio">Intermedio</span>
            <span class="skill-percent" data-percent="35">35%</span>
          </div>
          <div class="skill-bar-bg">
            <div class="skill-bar" data-percent="35"></div>
          </div>
        </div>
        <div class="skill-card">
          <div class="skill-header">
            <span class="skill-title"><i class="fas fa-flag"></i> Frances</span>
            <span class="skill-level basico">Básico</span>
            <span class="skill-percent" data-percent="10">10%</span>
          </div>
          <div class="skill-bar-bg">
            <div class="skill-bar" data-percent="10"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <!-- Portafolio 
  <section class="section light" id="portafolio">
    <h2 class="competencias-title">PORTAFOLIO</h2>
    <div class="container">
      <p>MIS ÚLTIMOS TRABAJOS UX / WEB</p>
      <a href="ssss" class="btn">Ver más</a>
      <div class="portfolio-items">
      <img src="img1.png" alt="Proyecto 1">
        <img src="img2.png" alt="Proyecto 2">
        <img src="img3.png" alt="Proyecto 3">
      </div>
    </div>
  </section>-->

  <!-- Experiencia -->
  <section class="section ex" id="experiencia">
  <h2 class="competencias-title">EXPERIENCIA</h2>
  <div class="timeline">
    <!--<div class="timeline-item left">
      <span class="timeline-year">2018-2019</span>
      <div class="timeline-content">
        <h3>WISBOOM</h3>
        <strong>Director de Diseño</strong>
        <p>Párrafo. Haz clic aquí para agregar tu propio texto y editar. Es ideal para que puedas contar tu historia.</p>
      </div>
    </div>
    <div class="timeline-item right">
      <span class="timeline-year">2018-2019</span>
      <div class="timeline-content">
        <h3>HOP!</h3>
        <strong>Jefe de Diseño Creativo</strong>
        <p>Atendí a los clientes en un ambiente dinámico, ofreciendo un servicio eficiente y cordial. Asesoré en la selección de bebidas y platos, garantizando una experiencia agradable. Me aseguré de que cada visita fuera única, creando un ambiente acogedor y vibrante.</p>
      </div>
    </div>-->
    <div class="timeline-item left">
      <span class="timeline-year">2024-2025</span>
      <div class="timeline-content">
        <h3>Zentral</h3>
        <strong>Servicio al Cliente en Entretenimiento</strong>
        <p>Atendí a los clientes en un ambiente dinámico, ofreciendo un servicio eficiente y cordial. Asesoré en la selección de bebidas y platos, garantizando una experiencia agradable. Me aseguré de que cada visita fuera única, creando un ambiente acogedor y vibrante.</p>
      </div>
    </div>
    <div class="timeline-item right">
      <span class="timeline-year">2022-2024</span>
      <div class="timeline-content">
        <h3>Almacenes Salazar</h3>
        <strong>Gestión de Transacciones y Atención al Cliente</strong>
        <p>Manejé transacciones de manera eficiente, brindé atención amable y resolví dudas para garantizar una experiencia de compra fluida. Asesoré a los clientes sobre precios y promociones, siempre asegurando precisión y rapidez en cada operación.</p>
      </div>
    </div>
    <div class="timeline-item left">
      <span class="timeline-year">2021-2022</span>
      <div class="timeline-content">
        <h3>Empresa de telecomunicaciones Claro</h3>
        <strong>Asesor comercial Claro</strong>
        <p>Promocioné y vendí servicios de telecomunicaciones, asesorando a los clientes para que encontraran la mejor solución según sus necesidades. Gestioné contratos, resolví dudas y mantuve un seguimiento constante para garantizar su satisfacción.</p>
      </div>
    </div>
    <div class="timeline-item right">
      <span class="timeline-year">2014-2019</span>
      <div class="timeline-content">
        <h3>IE 7100</h3>
        <strong>Estudio de Nivel Secundario</strong>
        <p>Estudio en la IE 7100 de la Ugel 01 en SJM</p>
      </div>
    </div>
  </div>
</section>

  <!-- Contacto -->
  <section id="contacto" class="contact-section">
  <div class="contact-container">
    <div class="contact-text">
      <h2>CONTACTO</h2>
      <p>
        Soy ingeniero de sistemas con formación sólida en el diseño, desarrollo y gestión de soluciones tecnológicas. 
      </p>
      <p>211181@unamba.edu.pe</p>
      <p>Tel: 988 - 605 - 555</p>
    </div>

    <form class="contact-form">
      <div class="form-row">
        <input type="text" placeholder="Nombre" required>
        <input type="email" placeholder="Email" required>
      </div>
      <input type="text" placeholder="Teléfono" required>
      <textarea placeholder="Mensaje" rows="4" required></textarea>
      <button type="submit">Enviar</button>
    </form>
     <div class="contact-social">
    <a href="https://x.com/LoayzaNarvaez"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://x.com/LoayzaNarvaez"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-github"></i></a>
  </div>
  </div>


</section>
  <footer>
    <p>© 2025 Luis</p>
  </footer>
</body>
<script src="../static/script.js"></script>
</html>
